In [1]:
# IMPORTS
# Batch_enrolled done nothing
import pandas as pd
import numpy as np

In [46]:
train = pd.read_csv("train_indessa.csv")
test = pd.read_csv("test_indessa.csv")

In [3]:
train.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,loan_status
0,58189336,14350,14350,14350.0,36 months,,19.19,E,E3,clerk,...,0.0,74.0,INDIVIDUAL,NaN,26th week,0.0,0.0,28699.0,30800.0,0
1,70011223,4800,4800,4800.0,36 months,BAT1586599,10.99,B,B4,Human Resources Specialist,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,0.0,9974.0,32900.0,0
2,70255675,10000,10000,10000.0,36 months,BAT1586599,7.26,A,A4,Driver,...,0.0,NaN,INDIVIDUAL,NaN,9th week,0.0,65.0,38295.0,34900.0,0
3,1893936,15000,15000,15000.0,36 months,BAT4808022,19.72,D,D5,Us office of Personnel Management,...,0.0,NaN,INDIVIDUAL,NaN,135th week,0.0,0.0,55564.0,24700.0,0
4,7652106,16000,16000,16000.0,36 months,BAT2833642,10.64,B,B2,LAUSD-HOLLYWOOD HIGH SCHOOL,...,0.0,NaN,INDIVIDUAL,NaN,96th week,0.0,0.0,47159.0,47033.0,0

In [4]:
test.head()

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,batch_enrolled,int_rate,grade,sub_grade,emp_title,...,collection_recovery_fee,collections_12_mths_ex_med,mths_since_last_major_derog,application_type,verification_status_joint,last_week_pay,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,11937648,14000,14000,14000.0,60 months,BAT4711174,16.24,C,C5,Data Analyst,...,0.0,0.0,NaN,INDIVIDUAL,NaN,104th week,0.0,0.0,85230.0,45700.0
1,38983318,16000,16000,16000.0,60 months,BAT4318899,9.49,B,B2,Senior Database Administrator,...,0.0,0.0,NaN,INDIVIDUAL,NaN,57th week,0.0,0.0,444991.0,21400.0
2,27999917,11050,11050,11050.0,60 months,BAT446479,15.61,D,D1,Customer service representative,...,0.0,0.0,26.0,INDIVIDUAL,NaN,70th week,0.0,0.0,105737.0,16300.0
3,61514932,35000,35000,34700.0,60 months,BAT4664105,12.69,C,C2,ACCT OFFICER,...,0.0,0.0,NaN,INDIVIDUAL,NaN,22th week,0.0,0.0,287022.0,72400.0
4,59622821,6500,6500,6500.0,36 months,,6.89,A,A3,Paralegal,...,0.0,0.0,NaN,INDIVIDUAL,NaN,22th week,0.0,0.0,234278.0,26700.0

In [5]:
train.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  85149
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       30830
emp_length                          0
home_ownership                      0
annual_inc                          3
verification_status                 0
pymnt_plan                          0
desc                           456829
purpose                             0
title                              90
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        16
inq_last_6mths                     16
mths_since_last_delinq         272554
mths_since_last_record         450305
open_acc                           16
pub_rec                            16
revol_bal                           0
revol_util                        287
total_acc                          16
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         95
mths_since_last_major_derog    399448
application_type                    0
verification_status_joint      532123
last_week_pay                       0
acc_now_delinq                     16
tot_coll_amt                    42004
tot_cur_bal                     42004
total_rev_hi_lim                42004
loan_status                         0
dtype: int64

In [6]:
test.isnull().sum()

member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
batch_enrolled                  45599
int_rate                            0
grade                               0
sub_grade                           0
emp_title                       20627
emp_length                          0
home_ownership                      0
annual_inc                          1
verification_status                 0
pymnt_plan                          0
desc                           304769
purpose                             0
title                              61
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        13
inq_last_6mths                     13
mths_since_last_delinq         181758
mths_since_last_record         300021
open_acc                           13
pub_rec                            13
revol_bal                           0
revol_util                        215
total_acc                          13
initial_list_status                 0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
collections_12_mths_ex_med         50
mths_since_last_major_derog    266228
application_type                    0
verification_status_joint      354745
last_week_pay                       0
acc_now_delinq                     13
tot_coll_amt                    28272
tot_cur_bal                     28272
total_rev_hi_lim                28272
dtype: int64

In [28]:
temp = pd.DataFrame()
data = pd.concat([train,test])
len(train),len(test),len(data)

In [29]:
# columns = data.columns
for i in feat:
    temp[i] = data[i]

In [30]:
data = temp

In [25]:
feat = [
    'acc_now_delinq',
    'annual_inc',                
    'collection_recovery_fee',       
    'collections_12_mths_ex_med',     
    'delinq_2yrs',
    'dti',                            
    'funded_amnt',                    
    'funded_amnt_inv',                
    'inq_last_6mths',                 
    'int_rate',                       
    'loan_amnt',                      
    'mths_since_last_delinq',         
    'mths_since_last_major_derog',    
    'mths_since_last_record',         
    'open_acc',                       
    'pub_rec',                        
    'recoveries',
    'revol_bal',                      
    'revol_util',                     
    'tot_coll_amt',                   
    'tot_cur_bal',                    
    'total_acc',
    'total_rec_int',                  
    'total_rec_late_fee',             
    'total_rev_hi_lim', 
    'term',
    'sub_grade',
    'emp_title',
    'emp_length',
    'home_ownership',
    'verification_status',
    'pymnt_plan',
    'desc'
       ]

In [ ]:
set(data['term'])

In [43]:
for i in data.columns:
    print(i)

acc_now_delinq
annual_inc
collection_recovery_fee
collections_12_mths_ex_med
delinq_2yrs
dti
funded_amnt
funded_amnt_inv
inq_last_6mths
int_rate
loan_amnt
mths_since_last_delinq
mths_since_last_major_derog
mths_since_last_record
open_acc
pub_rec
recoveries
revol_bal
revol_util
tot_coll_amt
tot_cur_bal
total_acc
total_rec_int
total_rec_late_fee
total_rev_hi_lim
new_term
sub_grade_A1
sub_grade_A2
sub_grade_A3
sub_grade_A4
sub_grade_A5
sub_grade_B1
sub_grade_B2
sub_grade_B3
sub_grade_B4
sub_grade_B5
sub_grade_C1
sub_grade_C2
sub_grade_C3
sub_grade_C4
sub_grade_C5
sub_grade_D1
sub_grade_D2
sub_grade_D3
sub_grade_D4
sub_grade_D5
sub_grade_E1
sub_grade_E2
sub_grade_E3
sub_grade_E4
sub_grade_E5
sub_grade_F1
sub_grade_F2
sub_grade_F3
sub_grade_F4
sub_grade_F5
sub_grade_G1
sub_grade_G2
sub_grade_G3
sub_grade_G4
sub_grade_G5
new_emp_title
new_emp_length
home_ownership_ANY
home_ownership_MORTGAGE
home_ownership_NONE
home_ownership_OTHER
home_ownership_OWN
home_ownership_RENT
verification_status_Not Verified
verification_status_Source Verified
verification_status_Verified
pymnt_plan_n
pymnt_plan_y
new_desc

In [32]:
data['new_term'] =data['term'].str.split(' ').str[0]
data['new_term'] = data['new_term'].astype(int)
data = data.drop('term',1)

In [33]:
data = pd.concat([data,  pd.get_dummies(data[['sub_grade']])],1)
data = data.drop('sub_grade',1)
# data = data.drop('grade',1)

In [34]:
data['new_emp_title'] = data['emp_title'].apply(str).apply(len)
data = data.drop('emp_title',1)

In [35]:
set(data['emp_length'])

{'1 year',
 '10+ years',
 '2 years',
 '3 years',
 '4 years',
 '5 years',
 '6 years',
 '7 years',
 '8 years',
 '9 years',
 '< 1 year',
 'n/a'}

In [36]:
mapping = {'1 year':1,
 '10+ years':10.5,
 '2 years':2,
 '3 years':3,
 '4 years':4,
 '5 years':5,
 '6 years':6,
 '7 years':7,
 '8 years':8,
 '9 years':9,
 '< 1 year':0.5,
 'n/a':-1}
data['new_emp_length'] = data['emp_length'].map(mapping)
data = data.drop('emp_length',1)

In [ ]:
set(data['home_ownership'])

In [37]:
data = pd.concat([data, pd.get_dummies(data[['home_ownership']])],1)
data = data.drop('home_ownership',1)

In [ ]:
set(data['verification_status'])

In [38]:
data = pd.concat([data, pd.get_dummies(data[['verification_status']])],1)
data = data.drop('verification_status',1)

In [ ]:
set(data['pymnt_plan'])

In [39]:
data = pd.concat([data, pd.get_dummies(data[['pymnt_plan']])],1)
data = data.drop('pymnt_plan',1)

In [ ]:
set(data['desc'])

In [40]:
data['new_desc'] = data['desc'].apply(str).apply(len)
data = data.drop('desc',1)

In [ ]:
set(data['addr_state'])

In [ ]:
data = pd.concat([data, pd.get_dummies(data[['addr_state']])],1)
data = data.drop('addr_state',1)

In [ ]:
set(data['title'])

In [ ]:
data['new_title'] = data['title'].apply(str).apply(len)
data = data.drop('title',1)

In [ ]:
set(data['zip_code'])

In [ ]:
data['new_zip_code'] = data['zip_code'].str.rsplit('xx').str[0]
data['new_zip_code'] = data['new_zip_code'].astype(int)
data = data.drop('zip_code',1)

In [ ]:
set(data['initial_list_status'])

In [ ]:
data = pd.concat([data, pd.get_dummies(data[['initial_list_status']])],1)
data = data.drop('initial_list_status',1)

In [ ]:
set(data['application_type'])

In [ ]:
data = pd.concat([data, pd.get_dummies(data[['application_type']])],1)
data = data.drop('application_type',1)

In [ ]:
set(data['verification_status_joint'])

In [ ]:
data = pd.concat([data, pd.get_dummies(data[['verification_status_joint']])],1)
data = data.drop('verification_status_joint',1)

In [ ]:
set(data['last_week_pay'])

In [ ]:
mapping = {'0th week':0,
 '100th week':100,
 '104th week':104,
 '108th week':108,
 '109th week':109,
 '113th week':113,
 '117th week':117,
 '118th week':118,
 '121th week':121,
 '122th week':122,
 '126th week':126,
 '130th week':130,
 '131th week':131,
 '135th week':135,
 '139th week':139,
 '13th week':13,
 '143th week':143,
 '144th week':144,
 '148th week':148,
 '152th week':152,
 '153th week':153,
 '156th week':156,
 '157th week':157,
 '161th week':161,
 '165th week':165,
 '169th week':169,
 '170th week':170,
 '174th week':174,
 '178th week':178,
 '17th week':17,
 '182th week':182,
 '183th week':183,
 '187th week':187,
 '18th week':18,
 '191th week':191,
 '192th week':192,
 '196th week':196,
 '200th week':200,
 '204th week':204,
 '205th week':205,
 '209th week':209,
 '213th week':213,
 '217th week':217,
 '218th week':218,
 '21th week':21,
 '221th week':221,
 '222th week':222,
 '226th week':226,
 '22th week':22,
 '230th week':230,
 '231th week':231,
 '235th week':235,
 '239th week':239,
 '243th week':243,
 '244th week':244,
 '248th week':248,
 '252th week':252,
 '256th week':256,
 '257th week':257,
 '261th week':261,
 '265th week':265,
 '269th week':269,
 '26th week':26,
 '270th week':270,
 '274th week':274,
 '278th week':278,
 '283th week':283,
 '291th week':291,
 '300th week':300,
 '304th week':304,
 '30th week':30,
 '31th week':31,
 '35th week':35,
 '39th week':39,
 '43th week':43,
 '44th week':44,
 '48th week':48,
 '4th week':4,
 '52th week':52,
 '56th week':56,
 '57th week':57,
 '61th week':61,
 '65th week':65,
 '69th week':69,
 '70th week':70,
 '74th week':74,
 '78th week':78,
 '79th week':79,
 '82th week':82,
 '83th week':83,
 '87th week':87,
 '8th week':8,
 '91th week':91,
 '92th week':92,
 '95th week':95,
 '96th week':96,
 '9th week':9,
 'NAth week':-1}
data['new_last_week_pay'] = data['last_week_pay'].map(mapping)
data = data.drop('last_week_pay',1)

In [ ]:
set(data['purpose'])

In [ ]:
data = pd.concat([data , pd.get_dummies(data[['purpose']])],1)
data = data.drop('purpose',1)

In [ ]:
set(data['batch_enrolled'])

In [ ]:
data['new_batch'] = data['batch_enrolled'].str.rsplit('BAT').str[1]
data['new_batch'] = data['new_batch'].astype(float)
data = data.drop('batch_enrolled',1)

In [41]:
# data = temp
mm_id = test['member_id']
# data = temp
# data = data.drop('member_id',1)

In [42]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values = 'NaN', strategy = 'median', axis = 0)
imputed_data = pd.DataFrame(imr.fit_transform(data))
imputed_data.columns = data.columns
imputed_data.index = data.index

# fill_NaN = Imputer(missing_values='NaN', strategy='median', axis=1)
# imputed_DF = pd.DataFrame(fill_NaN.fit_transform(DF))
# imputed_DF.columns = DF.columns
# imputed_DF.index = DF.index

In [53]:
# (532428, 354951, 887379)
train =imputed_data[:532428]
test = imputed_data[532428:]
# x = train.drop('loan_status',1)
# y  = train['loan_status']
# x = train

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
# test = test.drop('loan_status',1)

In [54]:
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42)
# 0.01 0.1 100 , with l2 = 100

In [ ]:
c = [0.01,0.1,100]
scores =[]
scores2 = []
for i in c:
    clf2 = LogisticRegression(C = i,penalty = 'l1')
    clf2.fit(X_train,y_train)
    preds = clf2.predict_proba(X_test)    
    scores2.append(roc_auc_score(y_test,preds[:,1]))

C:\Program Files\Anaconda3\lib\site-packages\sklearn\linear_model\base.py:352: RuntimeWarning: overflow encountered in exp
  np.exp(prob, prob)

In [ ]:
for i in range(0,3):
    print(scores2[i])

In [ ]:
n = [300]
for i in range(0,1):
    clf = RandomForestClassifier(n_estimators = n[i])
    clf.fit(X_train,y_train)
    preds = clf.predict_proba(X_test)
    scores.append(roc_auc_score(y_test,preds[:,1]))

In [ ]:
for i in range(0,1):
    print(scores[i])

In [ ]:
clf.fit(x,y)

In [ ]:

preds = clf.predict_proba(test)
# clf2.fit(x,y)

In [ ]:
preds1 = clf2.predict_proba(test)
sub = pd.DataFrame()
sub['member_id'] = mm_id
sub['loan_status'] = (preds[:,1]+preds1[:,1])/2.0
sub.to_csv("submission_rf.csv", index=False)